<h2>Heading</h2>
  <form class="push" action="/celebrities/new" method="POST">
    <label>Celebrity Name</label>
    <input type="text" name="celebName" value="">
    <label>Occupation</label>
    <input type="text" name="celebOccupation" value="">
    <label>Catch Phrase </label>
    <input type="text" name="celebCatchPhrase" value="">
    <button type="submit">Submit Celebrity</button>
  </form> 