<<<<<<< HEAD
<h2>Heading</h2>
  <form class="push" action="/celebrities/new" method="POST">
    <label>Celebrity Name</label>
    <input type="text" name="celebName" value="">
    <label>Occupation</label>
    <input type="text" name="celebOccupation" value="">
    <label>Catch Phrase </label>
    <input type="text" name="celebCatchPhrase" value="">
    <button type="submit">Submit Celebrity</button>
  </form> 
=======
<h2>New Celeb</h2>

<form action="/celebrities" method="post">
    <label for="name">
        Name
    </label>
    <input type="text" name="name">
    <label for="occupation">
        occupation
    </label>
    <input type="text" name="occupation">
    <label for="catchphrase">
        catchphrase
    </label>
    <input type="text" name="catchphrase">
    <button type="submit">Add a Celeb</button>
</form>
>>>>>>> upstream/master
