<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<<<<<<< HEAD
Home Page
<a href="http://localhost:3000/celebrities">Add New Celebrity</a>

=======

<a href="/celebrities">Go to Celebrities</a>
>>>>>>> upstream/master
